<h3>Going Deeper</h3>
<p>These questions and actions are designed to help you find ways to take Sunday's Scripture out into the world as the hands and feet of Christ</p>
<h4>Making You Think</h4>
<p>Quesitons?</p>
