<div class="photos-list">
  <h3>A collection of photos with a short description goes here, including a box that will popup with an enlarged version of the image</h3>
  <div class="photos-img">
    <img src="http://www.woodlanechurch.org/Website_Pictures/quilt.JPG" width="400px">
    <p>quilt.jpg</p>
  </div>
</div>
