<div class="photos-list">
  <h3>A collection of photos with a short description goes here, including a box that will popup with an enlarged version of the image</h3>
  <div class="photos-img">
    <img src="" alt="">
    <p>desc</p>
  </div>
</div>
