<h3>Sermon Archive</h3>
<p>{{#link-to "worship"}}Click Here{{/link-to}} to see our current series</p>
<table>
  <td><a href="#">link to dropbox</a></td>
  <td>Sermon Title</td>
  <td><a href="#">Scripture</a></td>
</table>
