<section class="faq-header container">
  <div class="faq-header-para">
    <p><b>Whether you’ve attended church your whole life or never stepped foot in one before,</b></p>
    <p><b>we know it’s not easy visiting a church for the first time.</b></p>
  </div>
  <div class="faq-header-para">
    <p><b>Where do I go?</b></p>
    <p><b>How should I dress?</b></p>
    <p><b>How long does it last?</b></p>
    <p><b>What about my kids?</b></p>
  </div>
  <div class="faq-header-para">
    <p><b>We want your first experience at Woodlane to be relaxed,</b></p>
    <p><b>and for you and your family to be blessed by the service.</b></p>
    <p><b>So, here is some information to help you know what to expect:</b></p>
  </div>

</section>

<section class="faq-main container">
  <div class="faq-question">
    <h4>What time is the service?</h4>
    <p>We worship every Sunday morning at 9:45 AM, and the service lasts 60-65 minutes (our communion service on the first Sunday of the month lasts about 75 minutes). Most people arrive 10-15 minutes early and gather either in the narthex entryway or in the sanctuary.</p>
  </div>
  <div class="faq-question">
    <h4>What should I do when I arrive?</h4>
    <p>We have handicapped entrances at both the north and south entrances to the church. As you enter our narthex (the north side doors), you will see many of our members congregating, setting up refreshments, and generally preparing the environment for you, our guest. If you need the washroom, they will be on your right side, just across from the stairs.</p>
    <p>Be sure to stop by our Welcome Center (just before the sanctuary doors) to pick up a free gift bag and sign our guest registry. We ask people for their name and mailing address (if you don't feel comfortable giving us your address, that is okay. A second free gift awaits those who do...).</p>
    <p>When you come into the sanctuary, one of our greeters will give you a bulletin. This contains our worship program, announcements, and weekly devotionals. Feel free to take a seat wherever you like and enjoy the prelude music before worship begins.</p>
  </div>
  <div class="faq-question">
    <h4>How should I dress?</h4>
    <p>We have a wide spectrum of dress at Woodlane. Some will come in jeans and a sweatshirt, some will come in a suit and tie. Many people will wear khakis and a polo (or equivalent). In the end, we are more concerned that you are with us than with what you are wearing.</p>
  </div>
  <div class="faq-question">
    <h4>What is the worship service like?</h4>
    <p>Our service is usually built around a liturgy, which is to say that the basic service looks similar from week to week. Our music has a blend of praise music and familiar hymns, led by either a keyboardist or organist. Our pews do contain the songbooks, but everything you would need to follow along in the service is projected onto our screen</p>
    <p><a href="http://www.woodlanechurch.org/example_bulletin.pdf">CLICK HERE</a> to download an example worship bulletin</p>
  </div>
  <div class="faq-question">
    <h4>What is available for my kids?</h4>
    <p>We do have nursury care available for children up to age 2. For children who are older, they will usually stay with their parents in the sanctuary until the children's message (during the school year). Kids all the way up through high school participate in this part of the service. After the children's message, they are dismissed to Sunday School downstairs. The teachers will meet them in the back of the sanctuary and lead them down. There, they will participate in a children's worship program before taking part in their individual classes. Youth Sunday school ends approximately the same time as the worship service.</p>
  </div>
  <div class="faq-question">
    <h4>What if I have questions?</h4>
    <p>If you have any questions about Sunday or our church in general, feel free to give us a call at 315-331-4903 or email us at office@woodlanechurch.org. On Sunday morning, anybody at the Welcome Center can answer your questions, as well as our door greeters. Chances are, if you ask anybody that's present on Sunday a question, they will be able to lead you to an answer.</p>
  </div>
  <div class="faq-footer">
    <h3>We hope to see you soon</h3>
  </div>
</section>
