<section class="index-main">

  <section class="address-info container">
    <div class="col-sm-6">
      <h3>Sunday Morning Worship: 9:45 a.m.</h3>
      <div class="map">
        <a href="https://www.google.com/maps/place/5694+Wood+Ln,+Newark,+NY+14513/@43.033537,-77.1122957,17z/data=!3m1!4b1!4m5!3m4!1s0x89d0d49b16914d6f:0x561cdc288b1a108d!8m2!3d43.033537!4d-77.110107">
          <p>5694 Woodlane, Newark, NY 14513</p>
        </a>
      </div>
      <p>Phone: (315) 331-4903</p>
      <p>Email: <a href="mailto:office@woodlanechurch.org">office@woodlanechurch.org</a></p>
      {{#link-to "faq"}}What to expect as a first-time guest{{/link-to}}
    </div>
    <div class="col-sm-6">
      <object type="application/x-shockwave-flash" data="http://www.slideroll.com/player.swf?s=hkfus8sk" id="slideshow" base="http://www.slideroll.com" wmode="transparent" scale="noscale" salign="tl" allowscriptaccess="always" allownetworking="all" height="240" width="360"> <param name="base" value="http://www.slideroll.com"> <param name="movie" value="http://www.slideroll.com/player.swf?s=hkfus8sk"> <param name="s" value="hkfus8sk"> <param name="scale" value="noscale"> <param name="salign"    value="tl"> <param name="wmode" value="transparent"> <param name="allowFullScreen" value="true"> <param name="allowScriptAccess" value="always"> <param name="allowNetworking" value="all">
        <iframe src="http://slideroll.org/players/v0_05/?s=hkfus8sk" frameborder="0" height="280" width="360"></iframe>
      </object>
    </div>
    
  </section>

  <section class="index-header">
    <h2>Welcome to Woodlane Community Church!</h2>
    <p>Pastor Brian Maag</p>
  </section>

  <section class="container">
    <div class="index-section col-sm-6">
      <h3><b>Sunday Schedule</b></h3>
      <table class="table">
        <tr>
          <td>9:00 AM</td>
          <td>Choir Practice</td>
        </tr>
        <tr>
          <td>9:45 AM</td>
          <td>Worship Service</td>
        </tr>
        <tr>
          <td>10:15 AM</td>
          <td>Youth Sunday School (age 2-High School)</td>
        </tr>
        <tr>
          <td>10:45 AM</td>
          <td>Fellowship Time/Refreshments</td>
        </tr>
        <tr>
          <td>11:15 AM</td>
          <td>Adult Sunday School</td>
        </tr>
      </table>

      <h4><i>Childcare is available</i></h4>
      <p>Woodlane Community Church, formerly Arcadia Reformed Church, is a member church of the Reformed Church in America (RCA) and an active part of the local Newark community. During the week, many activities take place at our church, including weekly meetings of Weight Watchers. The Women's Esther Circle is very active, as well as our Fleece Blanket Ministry.</p>
      <p>As our vision statement indicates, we believe that we will be able to impact our community for eternity, one heart at a time. If you are looking for a church home that will give you a place for your faith to grow, or if you are just visiting the area, we invite you to please come be our guest for a time of worship and fellowship. If you find yourself in need of support in a time of grief, stress, or loss, we encourage you to give our church a call. We have many individuals willing and able to provide counseling or to find the help you may need. Feel free to give our church a call at any time.</p>

    </div>
    <div class="index-section col-sm-6">
      <div class="believe-header">
        <h3><b>We Believe</b></h3>
      </div>
      <p><b>We Believe</b> in the Grace of our Lord Jesus Christ, who for our sake shared human life and human death, even death on a cross.</p>
      <p><b>We Believe</b> in the Love of God, who is the source of life and whose power raised Jesus from the dead.</p>
      <p><b>We Believe</b> in the Community of the Holy Spirit, who works without ceasing to unite believers of every time and place in their one Lord, Jesus Christ.</p>
    </div>
  </section>
</section>


{{outlet}}
