<section class="links-main">
  <div class="container">
    <div class="col-sm-6 links-section">
      {{current-good-news model=model}}
    </div>
    <div class="col-sm-6 links-section">
      {{sermon-archive model=model}}
    </div>
  </div>
  <div class="container">
    <div class="col-sm-6 links-section">
      {{going-deeper model=model}}
    </div>
    <div class="col-sm-6 links-section">
      {{good-news-archive model=model}}
    </div>
  </div>
</section>
