<section class="ministries-main container">
  <div class="ministries-section">
    {{ministries-list model=model}}
    <p><a href="http://www.woodlanechurch.org/Memorial_Garden.pdf">Click Here</a> for information and application to Memorial Gardens</p>
  </div>
  <div class="ministries-section">
    {{community-outreach model=model}}
  </div>
</section>
