<section class="ministries-main container">
  <div class="ministries-section">
    {{ministries-list}}
    <p><a href="http://www.woodlanechurch.org/Memorial_Garden.pdf">Click Here</a> for information and application to Memorial Gardens</p>

  </div>
  <div class="ministries-section">
    <h3>Woodlane Community Church also supports these community outreaches</h3>
    <ul>
      {{#each}}
        {{community-outreach}}
      {{/each}}
      <li>Camp Fowler</li>
      <li>Together In Christ</li>
      <li>Food Link</li>
      <li>Samaritan's Purse</li>
      <li>Hannick Hall</li>
      <li>Newark High School (exam site)</li>
      <li>Vacation Bible School</li>
      <li>Newark Food Closet</li>
      <li>Crop Walk</li>
      <li>RCA Missionaries - Peter and Patty Ford (currently in Lebanon)</li>
      <li>Church World Service</li>
      <li>ABCD Preschool</li>
    </ul>
  </div>
</section>
