<section class="worship-main container">

  <h3>{{#link-to "faq"}}What to expect as a first-time guest{{/link-to}}</h3>
  <div class="worship-header">
    <h3>Current Worship Series</h3>
    <h4>Experiencing the joy of personal revival!</h4>
  </div>
  <div class="worship-section">
    <h3>Seeking God</h3>
    <img src="" alt="">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Sermon link</th>
          <th>Verses</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.worshipschedule as |entry|}}
          {{worship-table entry=entry}}
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
